global
  log 127.0.0.1 local0 notice
  maxconn 2000
  user haproxy
  group haproxy

defaults
  log     global
  mode    tcp
  option  tcplog
  option  dontlognull
  retries 3
  option  redispatch
  timeout connect 5000
  timeout client 10000
  timeout server 10000

listen appname  *:8081
  mode tcp
  balance roundrobin
  server webapp1 192.168.50.4:80 check
  server webapp2 192.168.50.5:80 check
