/.project
.metadata/
*.prefs
*.class
*.arff
*.csv

frontend/WebApplication/.settings/com.google.gdt.eclipse.core.prefs
frontend/WebApplication/.gwt
frontend/WebApplication/.settings
frontend/WebApplication/gwt-unitCache
frontend/WebApplication/gwt-unitCache/
frontend/WebApplication/logs
frontend/WebApplication/test-classes
frontend/WebApplication/war/webapplication/*
frontend/WebApplication/war/CS183WebApplication.war
frontend/WebApplication/war/WEB-INF/deploy/*
frontend/WebApplication/war/WEB-INF/classes/*
frontend/WebApplication/war/TestFiles
frontend/WebApplication/vagrant/etc/sql/genData/*

RemoteSystemsTempFiles/

# Vagrant ################
vagrant/.vagrant/
*.box
*:

# OS ####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
