.header {
	color: black;
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 30px;
}

.main {
	margin-top: 2%;
	margin-left: 3%;
	margin-right: 3%;
	width: 100%;
}

.results {
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}

.version {
	font-size: 12px;
	color: grey;
	margin-top: 20%;
	text-align: center;
}